<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>群资料页面</title>
    <meta name='format-detection' content='telephone=no,email=no' />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">  	<link href="/seeyon/m3/cmp/css/cmp.css?buildversion=181210172652" rel="stylesheet" type="text/css" />
<link href="/seeyon/m3/apps/v5/commons/cmp-resources/M1H5.css?buildversion=181210172652" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/seeyon/m3/cmp/css/cmp-listView.css?buildversion=181210172652" />
    <link rel="stylesheet" href="/seeyon/m3/cmp/css/cmp-selectOrg.css?buildversion=181210172652" />
    <link rel="stylesheet" href="/seeyon/m3/apps/v5/uc/fonts/iconfont.css?buildversion=181210172652" />
    <link rel="stylesheet" href="/seeyon/m3/apps/v5/uc/css/ucGroupInfoPage.css?buildversion=181210172652" />
    <script src="/seeyon/m3/apps/v5/uc/js/ucFlexible.js?buildversion=181210172652"></script>
</head>
<body>
<header id="header" class="cmp-bar cmp-bar-nav cmp-flex-header">
    <div id="prev" class="cmp-action-back cmp-header-left ">
        <span class="cmp-icon see-icon-v5-common-arrow-back"></span>
        <span class="nav-text"><i18n key="uc.m3.h5.return"></i18n></span>
    </div>
    <div class="cmp-title" id="title"></div>
    <div class="cmp-header-right">
    </div>
</header>
<div class="cmp-content position_relative">
    <div class="cmp-control-content cmp-active" id="cmp-control">
        <div id="property" class="cmp-scroll-wrapper">
            <div class="cmp-scroll">
                <div class="uc-list" id="uc_listAll">
                    <ul class="cmp-table-view cmp-table-view-striped cmp-table-view-condensed" id="group_info_list">
                        <li class="cmp-table-view-cell cmp-media">
                            <div class="uc-group-top-wrap">
                                <div class="uc-group-top">
                                    <img class="uc-group-head" />
                                    <span class="uc-group-top-name"></span>
                                    <i class="iconfont icon-edit"></i>
                                </div>
                                <div class="uc-group-data">
                                    <div class="uc-group-notice">
                                        <i class="iconfont icon-group-notice"></i>
                                        <span class="uc-group-notice-name"><i18n key="uc.m3.h5.bulletin"></i18n></span>
                                    </div>
                                    <div class="uc-group-pic">
                                        <i class="iconfont icon-local-picture"></i>
                                        <span class="uc-group-pic-name"><i18n key="uc.m3.h5.image"></i18n></span>
                                    </div>
                                    <div class="uc-group-file">
                                        <i class="iconfont icon-group-files"></i>
                                        <span class="uc-group-file-name"><i18n key="uc.m3.h5.files"></i18n></span>
                                    </div>
                                </div>
                            </div>
                            <div class="uc-group-member">
                                <div class="uc-group-m"><i18n key="uc.m3.h5.groupMembers"></i18n>(<span class="uc-g-m-num">1</span><i18n key="uc.m3.h5.person"></i18n>)</div>
                                <ul class="uc-group-members">
                                    <li class="add">
                                        <div class="cmp-icon iconfont icon-Addmembers-round uc-group-m-add"></div>
                                        <span class="uc-group-m-name"><i18n key="uc.m3.h5.invite"></i18n></span>
                                    </li>
                                    <li class="sub">
                                        <div class="cmp-icon iconfont icon-Deletemembers-round uc-group-m-sub"></div>
                                        <span class="uc-group-m-name"><i18n key="uc.m3.h5.remove"></i18n></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- 新增群二维码入口 -->
                            <div class="uc-group-qrcode cmp-table-view-cell" id="uc-group-qrcode">
								<div class="cmp-navigate-right">
									<span class="uc-group-toTop-text"><i18n key="uc.m3.h5.qrcode"></i18n></span>
								</div>
                            </div>
                            <div class="uc-group-toTop">
                                <span class="uc-group-toTop-text"><i18n key="uc.m3.h5.stickyConversation"></i18n></span>
                                <div class="uc-group-toTop-check">
                                    <div class="cmp-switch cmp-switch-blue cmp-switch-mini" id="uc-group-toTop">
                                        <div class="cmp-switch-handle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="uc-group-recieve">
                                <span class="uc-group-n"><i18n key="uc.m3.h5.receiveNoReminder"></i18n></span>
                                <div class="uc-group-check">
                                    <div class="cmp-switch cmp-switch-blue cmp-switch-mini" id="uc-recieve-block">
                                        <div class="cmp-switch-handle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="uc-group-clearHistory">
                                <span class="uc-group-clearHistory-text"><i18n key="uc.m3.h5.clearChatHistory"></i18n></span>
                            </div>
                            <div class="uc-group-btn uc-group-quit-btn"><i18n key="uc.m3.h5.exitGroup"></i18n></div>
                            <div class="uc-group-btn uc-group-disband-btn"><i18n key="uc.m3.h5.dissolveGroup"></i18n></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="memberHeadLi">
    <% var obj = this; %>
    <li class="uc-group-m-list">
        <div class="uc-m-head-box">
            <div class="uc-m-head">
                <img class="uc-group-m-head" src="<%=obj.src%>" id="h_<%=obj.id%>" />
            </div>
            <% if (obj.adminId == obj.id) { %>
            <svg id="group-admin-icon" class="icon" aria-hidden="true">
                <use xlink:href="#icon-PC-grouper"></use>
            </svg>
            <% } %>
        </div>
        <span class="uc-group-m-name" id="n_<%=obj.id%>"><%=obj.name %></span>
    </li>
</script>
<script src="/seeyon/m3/apps/v5/uc/i18n/uc_zh_CN.js?buildversion=181210172652"></script>
<script src="/seeyon/m3/cmp/js/cmp-i18n.js?buildversion=181210172652"></script>
<script>
    cmp.i18n.init("/seeyon/m3/apps/v5/uc/i18n/","uc");
</script>
<script src="/seeyon/m3/cmp/js/cmp-ajax-fast.js?buildversion=181210172652"></script>
<script  src="/seeyon/m3/apps/v5/commons/jquery/jquery-2.1.4.min.js?buildversion=181210172652" type="text/javascript"></script>
<script  src="/seeyon/m3/cmp/js/cmp.js?buildversion=181210172652" type="text/javascript"></script>
<script  src="/seeyon/m3/apps/v5/commons/jssdk_wechat.js?buildversion=181210172652" type="text/javascript"></script>
<script src="/seeyon/m3/cmp/js/cmp-att.js?buildversion=181210172652"></script>
<script src="/seeyon/m3/cmp/js/cmp-listView.js?buildversion=181210172652"></script>
<script src="/seeyon/m3/cmp/js/cmp-visitingCard.js?buildversion=181210172652"></script>
<script src="/seeyon/m3/cmp/js/cmp-imgCache.js?buildversion=181210172652"></script>
<script src="/seeyon/m3/cmp/js/cmp-selectOrg.js?buildversion=181210172652"></script>
<script src="/seeyon/m3/cmp/js/cmp-camera.js?buildversion=181210172652"></script>
<script type="text/javascript">
    var ucPath = "/seeyon/m3/apps/v5/uc";
</script><script src="/seeyon/m3/apps/v5/uc/fonts/iconfont.js?buildversion=181210172652"></script>
<script src="/seeyon/m3/apps/v5/uc/js/uc.js?buildversion=181210172652"></script>
<script src="/seeyon/m3/apps/v5/uc/js/ucCommon.js?buildversion=181210172652"></script>
<script src="/seeyon/m3/apps/v5/uc/js/ucGroupInfoPage.js?buildversion=181210172652"></script>
</html>

