body, html {
    margin: 0;
    padding: 0;
}
.cmp-ios-x .debug-page{
    padding-top: 44px;
}
.m3-debug {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 64px;
    right: 10px;
    border-radius: 50%;
    z-index: 9999;
    background: url(../../img/bug-green.png) center center no-repeat;
    background-size: 27px 27px;
    border-radius: 50%;
    border: 1px solid #80ba27;
}
.m3-debug-error {
    background: url(../../img/bug-error.png) center center no-repeat;
    border: 1px solid #ef7726;
}
.m3-debug-log {
    background: url(../../img/bug-log.png) center center no-repeat;
    border: 1px solid #2f8cc0;
}
.debug-page {
    position: absolute;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    width: 100%;
    height: 100%;
    z-index: 9998;
    left: 0;
    top: 0;
    color: #888;
    background: #fff;
}
.db-content {
    -webkit-flex: 1;
    overflow: scroll;
}
.db-content > div {
    overflow: scroll;
    white-space: nowrap;
}
.m3-red {
    background: red;
}
.db-child-cont {
    text-indent: 20px;
    line-height: 25px;
}
.db-child-cont > .db-child-cont {
    padding-left: 20px;
}
.can-extend,
.no-extend {
    border-bottom: 1px solid #dfdfdd;
}
.db-child-cont > div {
    border-bottom: none;
    border-top: 1px solid #dfdfdd;
}
.m3-db-toolbar {
    width: 100%;
    height: 45px;
    display: -webkit-flex;
    border: 1px solid #dfdfdd;
}
.m3-db-toolbar > textarea {
    display: block;
    line-height: 25px;
    -webkit-flex: 1;
    font-size: 14px;
    -webkit-appearance: none;
    border: none;
    resize: none;
    padding: 0 15px;
    outline: none;
}
.m3-db-toolbar > .db-btn {
    width: 60px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-left: 1px solid #dfdfdd;
}
.db-title {
    position: relative;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid #dfdfdd;
}
.db-title > h1 {
    height: inherit;
    line-height: inherit;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.db-title > a {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 45px;
    border-left: 1px solid #dfdfdd;
}
.display-none {
    display: none;
}
.db-code {
    border-bottom: 1px solid #dfdfdd;
    color: #abc;
    padding: 0 10px;
}
.debug-red,
.debug-window {
    color: #a00;
}
.debug-ajax {
    color: #f00;
}
.debug-native {
    color: #0af;
}
.debug-others {
    color: #f94;
}