/**
 * @Author Clyne,XinPei
 * @createTime 2017-11-02
 * @description m3模板样式
 */

/* flexbox */
.flex-v {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column; 
}
.flex-h {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; 
}
.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1; 
}
/* 交叉轴居中 */
.flex-cross-center {
    -webkit-align-items: center;
    align-items: center;
}


.display-none {
    display: none!important;
}



/* 组织结构，关联人员列表模板 */
.m3-mlist {
    padding: 0 0 0 13px;
    background: #fff;
}
.m3-mlist > span {
    display: block;
}
.mlist-head {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin-right: 13px;
    background-color: #ccc;
    background-size: cover;
    background-position: 50% 50%;
}
.m3-mlist:last-child >.flex-1 {
    border: none;
}
.m3-mlist >.flex-1 {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
}
.m3-mlist > span > i {
    display: block;
    font-style: normal;
    color: #333;
    font-size: 16px;
    margin: 0 13px 0 0;
}
.m3-mlist > span > i + i {
    color: #999;
    font-size: 12px;
}

/* M3搜索组件 */
.components-search {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: #f4f4f4;
}

/* 搜索框部分 */
.search-header {
    overflow: hidden;
    padding: 7px 0 7px 5px;
    background: #fff;
    /* margin: 0 20px */
}
.search-box > input[type="search"] {
    position: relative;
    display: block;
    height: 14px;
    line-height: 14px;
    margin: 0 auto;
    margin-top: -25px;
    padding: 5px 0;
    background-color: transparent;
    box-sizing: content-box;
    text-indent: 35px;
    text-align: left;
}


.search-box > .search-btn {
    display: block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #EEF1F5;
    margin: 0;
    border-radius: 28px;
}
.search-box > .search-btn > i {
    display: inline-block;
    font-style: normal;
    font-size: 12px;
    color: #A1B0C5;
    vertical-align: middle;
}
.search-box > .search-btn > .cmp-icon {
    padding: 0;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all 300ms cubic-bezier(0,0,0.58,1);
}
.search-header > a {
    display: block;
    width: 52px;
    text-align: center;
    font-size: 16px;
    color: #333;
}
.search-content {
    margin-top: 10px;
    overflow: auto;
}