<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <title>  </title>
</head>
<body>
<script src="http://cmp/v/js/cmp-i18n.js"></script>
<script src="http://cmp/v1.0.0/js/cordova/__CMPSHELL_PLATFORM__/cordova.js"></script>
<script src="http://cmp/v1.0.0/js/cordova/cordova-plugins.js"></script>
<script src="http://cmp/v1.0.0/js/cmp.js"></script>
<script src="http://cmp/v1.0.0/js/cmp-app.js"></script>
<script src="http://commons.m3.cmp/v/js/m3-path.s3js"></script>
<!-- seajs -->
<script src="http://commons.m3.cmp/v/lib/seajs-2.2.1.js"></script>
<script src="http://commons.m3.cmp/v/config.js"></script>
<script>seajs.use('http://message.m3.cmp/v1.0.0/js/message-forwardMsg.js')</script>
</body>
</html>
