<!--
@Author: lizhiheng <mars>
@Date:   2016-08-29 06:29:29
@Project: m3
@Last modified by:   mars
@Last modified time: 2016-08-29 11:30:04
-->
<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="telephone=no,email=no" name="format-detection">
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <title>发票抬头</title>
        <script src="http://commons.m3.cmp/v1.0.0/js/flexible.js"></script>
        <link rel="stylesheet" href="http://cmp/v1.0.0/css/cmp.css">
        <link rel="stylesheet" href="http://cmp/v1.0.0/css/cmp-listView.css">
        <link rel="stylesheet" href="http://commons.m3.cmp/v1.0.0/fonts/iconfont.css">
        <link rel="stylesheet" href="http://commons.m3.cmp/v1.0.0/css/base.css">
        <link rel="stylesheet" href="http://my.m3.cmp/v1.0.0/css/my-person.css">
    </head>
    
    <style>
        .cmp-user-select-auto * {
            -webkit-user-select: text!important;
            user-select: text!important;
        }
    </style>

<body class="body_mycompany cmp-user-select-auto">
    <script>
        /**
         * @description 优化IphoneX的头部交互，组织去抖动
         */
        ;(function() {
            var ua = window.navigator.userAgent.toUpperCase();
            if (ua.match(/IPHONEX/)) {
                document.body.className += ' cmp-ios-x ';
            }
        })();
    </script>

<header class="cmp-bar cmp-bar-nav cmp-flex-header m3-iosx">
    <div id="backBtn" class="cmp-action-back cmp-header-left ">
        <span class="cmp-icon see-icon-v5-common-arrow-back"></span>
        <span class="nav-text"><i18n key="my.m3.h5.back"></i18n></span>
    </div>
    <div class="cmp-title">
        <i18n key="my.m3.h5.invoicetil"></i18n>
    </div>
    <div class="cmp-header-right">
    </div>
</header>

    <div class="cmp-content position_relative my_module cmp-user-select-auto" >
        <div class="invoiceData" id="invoiceData">

        </div>
        <!-- <div class="cmp-control-content cmp-active">
            <div id="listView" class="cmp-scroll-wrapper">
                <div class="cmp-scroll" id="invoiceData">

                </div>
            </div>
        </div> -->
        <!--列表-->
        <!-- <ul class="cmp-table-view new_list company-list">
            <li class="cmp-table-view-cell" >
                <div class="cmp-pull-left">
                    <div class="datainfo name" id="name"></div>
                    <div class="text"><i18n key="my.m3.h5.enterpriseName"></i18n></div>
                </div>
           </li>
        </ul> -->
       
    </div>
    <script src="http://my.m3.cmp/v/i18n/my_zh_CN.js"></script>
    <script src="http://commons.m3.cmp/v/i18n/commons_zh_CN.js"></script>
    <script src="http://cmp/v/js/cmp-i18n.js"></script>
    <script>
        cmp.i18n.init("http://my.m3.cmp/v/i18n/", "my");
        cmp.i18n.load("http://commons.m3.cmp/v/i18n/", "commons");
    </script>
    <script src="http://commons.m3.cmp/v1.0.0/js/m3-path.s3js"></script>
    <script src="http://cmp/v1.0.0/js/cordova/__CMPSHELL_PLATFORM__/cordova.js"></script>
    <script src="http://cmp/v1.0.0/js/cordova/cordova-plugins.js"></script>
    <script src="http://cmp/v1.0.0/js/cmp.js"></script>
    <script src="http://cmp/v1.0.0/js/cmp-listView.js"></script>
    <!-- seajs -->
    <script src="http://commons.m3.cmp/v1.0.0/lib/seajs-2.2.1.js"></script>
    <script src="http://commons.m3.cmp/v1.0.0/config.js"></script>
    <!-- 模块入口 -->
    <script>seajs.use('http://my.m3.cmp/v1.0.0/js/my-company-invoice.js')</script>
</body>

</html>
