h1,
h3 {
    font-weight: 400;
    margin: 0;
}
/* flexbox */

.flexbox-v {
    display: -webkit-flex;
    -webkit-flex-flow: column;
}

.flexbox-h {
    display: -webkit-flex;
}

.flex-1 {
    -webkit-flex: 1;
}

/* 交叉轴 */

/* 居中 */
.flex-cross-center {
    align-items: center;
}
/* 公共样式 */
.display-none {
    display: none;
}
.opacity-0 {
    opacity: 0;
}
/* 头部 */

.m3-header {
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
    background: #fff;
    border-bottom: 1px solid rgba(200, 199, 204, .4);
}
.m3-header > a {
    width: 70px;
}
.m3-back {
    font-size: 16px;
}
.m3-back .see-icon-v5-common-arrow-back ~ .nav-text{
    left: -5px;
    position: relative;
}
.m3-back > span {
    color: #3aadfb;
}
.m3-header > a,
.m3-header > h1 {
    display: block;
}
.m3-header > h1 {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: inherit;
}
.app-save {
    text-align: right;
    font-size: 16px;
}
.switch-li{
    padding: 0 14px;
}
.child-switch > ul {
    width: 100%;
}
.switch-app {
    padding-right: 14px;
    margin-left: 14px;
    border-bottom: 1px solid #dfdfdf;
}
.switch-app:last-child {
    border: none;
}
.child-switch > .switch-text {
    padding-left: 14px;
}
.bg-white {
    background: #fff;
}
.switch-text {
    display: block; 
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #333;
}
.m3-content {
    overflow: auto;
    -webkit-overflow-scrolling : touch;
}
.m3-content > h3 {
    height: 30px;
    line-height: 25px;
    color: #666;
    font-size: 12px;
    padding: 0 14px;
}
.child-checkbox {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
ul > .child-checkbox:nth-child(3n + 1) {
    text-align: left;
}
ul > .child-checkbox:nth-child(3n + 2) {
    text-align: center;
}
ul > .child-checkbox:nth-child(3n + 3) {
    text-align: right;
}
.child-checkbox > span {
    display: inline-block;
    vertical-align: middle;
}

.child-checkbox > span:first-child {
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.cmp-checkbox2.active:before {
    color: #2EAEF7;
    content: '\e442';
}
.child-switch > .bg_gray{
    padding: 0 14px;
}


