<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <script src="http://commons.m3.cmp/v/js/flexible.js"></script>
    <title>全局搜索查看更多</title>
    <link rel="stylesheet" href="http://cmp/v/css/cmp.css">
    <link rel="stylesheet" href="http://commons.m3.cmp/v/fonts/iconfont.css">
    <link rel="stylesheet" href="http://commons.m3.cmp/v/css/base.css">
    <link rel="stylesheet" href="http://cmp/v/css/cmp-search.css">
    <link rel="stylesheet" href="http://cmp/v/css/cmp-listView.css">
    <link rel="stylesheet" href="http://todo.m3.cmp/v/css/search-person-search.css" />
</head>

<body>
    <script>
        /**
         * @description 优化IphoneX的头部交互，组织去抖动
         */
        ;(function() {
            var ua = window.navigator.userAgent.toUpperCase();
            if (ua.match(/IPHONEX/)) {
                document.body.className += ' cmp-ios-x ';
            }
        })();
    </script>
    <header class="cmp-bar cmp-bar-nav m3-iosx">
        <div class="cmp-pull-left cmp-icon cmp-action-back">
            <span class="cmp-icon see-icon-v5-common-arrow-back"></span>
            <span class="nav-text"><i18n key="todo.m3.h5.return"></i18n></span>
        </div>
        <form class="search_all">
            <div class="cmp-input-row cmp-search">
                <input id="btn_a" type="search" class=" cmp-input-clear" placeholder="搜索">
            </div>
        </form>
        <span class="cancel"><i18n key="todo.m3.h5.cancel"></i18n></span>
    </header>
    <div class="cmp-content message">
        <div class="cmp-control-content cmp-active">
            <div id="pullrefresh" class="cmp-scroll-wrapper">
                <div class="cmp-scroll">
                    <ul class="cmp-table-view search-people link"></ul>
                    <ul class="cmp-table-view search-people third"></ul>
                    <ul class="cmp-table-view search-people todo"></ul>
                </div>
            </div>
        </div>
    </div>
    <script src="http://todo.m3.cmp/v/i18n/todo_zh_CN.js"></script>
    <script src="http://commons.m3.cmp/v/i18n/commons_zh_CN.js"></script>
    <script src="http://cmp/v/js/cmp-i18n.js"></script>
    <script>
        cmp.i18n.init("http://todo.m3.cmp/v/i18n/", "todo");
        cmp.i18n.load("http://commons.m3.cmp/v/i18n/", "commons");
    </script>
    <script src="http://cmp/v/js/cordova/__CMPSHELL_PLATFORM__/cordova.js"></script>
<script src="http://cmp/v/js/cordova/cordova-plugins.js"></script>
    <script src="http://cmp/v/js/cmp.js"></script>
    <script src="http://cmp/v/js/cmp-app.js"></script>
    <script src="http://cmp/v/js/cmp-server.js"></script>
    <script src="http://cmp/v/js/cmp-chat.js"></script>
    <script src="http://cmp/v/js/cmp-listView.js"></script>
    <script src="http://cmp/v/js/cmp-gestureLock.js"></script>
    <script src="http://cmp/v/js/cmp-search.js"></script>
    <script src="http://cmp/v/js/cmp-iat.js"></script>


    <!--<script src="http://commons.m3.cmp/js/zepto-1.2.0.js"></script>-->
    <!--<script src="http://commons.m3.cmp/js/m3.js"></script>-->
    <!--<script src="http://commons.m3.cmp/js/m3i18n.js"></script>-->
    <!--<script src="http://commons.m3.cmp/js/m3Route.s3js"></script>-->
    <!--<script src="http://commons.m3.cmp/js/m3Ajax.js"></script>-->
    <!--<script src="http://commons.m3.cmp/js/m3DB.js"></script>-->
    <!--<script src="http://todo.m3.cmp/js/app_todo_allsearch.js"></script>-->

    <script src="http://commons.m3.cmp/v/js/m3-path.s3js"></script>
    <!-- seajs -->
    <script src="http://commons.m3.cmp/v/lib/seajs-2.2.1.js"></script>
    <script src="http://commons.m3.cmp/v/config.js"></script>
    <!-- 模块入口 -->
    <script>seajs.use('http://todo.m3.cmp/v/js/app_todo_allsearch.js')</script>
</body>
