<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <script src="http://commons.m3.cmp/v/js/flexible.js"></script>
    <title>全局搜索</title>
    <link rel="stylesheet" href="http://cmp/v/css/cmp.css">
    <link rel="stylesheet" href="http://commons.m3.cmp/v/fonts/iconfont.css">
    <link rel="stylesheet" href="http://commons.m3.cmp/v/css/base.css">
    <link rel="stylesheet" href="http://cmp/v/css/cmp-search.css">
    <link rel="stylesheet" href="http://cmp/v/css/cmp-sliders.css">
    <link rel="stylesheet" href="http://todo.m3.cmp/v/css/todo-search.css" />
</head> 

<body class="cmp-fullscreen">
    <script>
        /**
         * @description 优化IphoneX的头部交互，组织去抖动
         */
        ;(function() {
            var ua = window.navigator.userAgent.toUpperCase();
            if (ua.match(/IPHONEX/)) {
                document.body.className += ' cmp-ios-x ';
            }
        })();
    </script>
    <header class="cmp-bar m3-iosx search-header">
        <!--搜索框-->
        <form class="search-header-form">
            <div class="cmp-input-row cmp-search">
                <input id="btn_a" type="search" class=" cmp-input-clear" placeholder="搜索">
            </div>
        </form>
        <span class="cancel search-header-cancel"><i18n key="todo.m3.h5.cancel"></i18n></span>
    </header>
    <div class="cmp-content message">
        <div class="cmp-control-content cmp-active">
            <div id="scroll-content">
                <div class="cansearch">
                    <div class="title">
                        <i18n key="todo.m3.h5.searchTip"></i18n>
                    </div>
                    <div class="candetail">
                        <div class="todo">
                            <span class="iconfont see-icon-m3-backlog-fill"></span>
                            <p class="word">
                                <i18n key="todo.m3.h5.todo"></i18n>
                            </p>
                        </div>
                        <div class="search-people" id="searchPeople">
                            <span class="iconfont see-icon-m3-searchperson-fill"></span>
                            <p class="word">
                                <i18n key="todo.m3.h5.searchPeople"></i18n>
                            </p>
                        </div>
                        <div class="third">
                            <span class="iconfont see-icon-m3-third"></span>
                            <p class="word">
                                <i18n key="todo.m3.h5.thirdTodo"></i18n>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="search display_none">
                    <!--联系人开始-->
                    <p class="link-people">
                        <i18n key="todo.m3.h5.contact"></i18n>
                    </p>
                    <ul class="cmp-table-view margin_top10 search-people link">
                        <!-- <li class="cmp-table-view-cell cmp-media list-top">
                            <div class="cmp-pull-left"><img src="http://todo.m3.cmp/img/page-logo.png" alt=""></div>
                            <p class="message_list_title">白程 </p>
                            <p class='cmp-ellipsis'>品质管理主管</p>
                        </li>
                        <li class="cmp-table-view-cell cmp-media list-top">
                            <div class="cmp-pull-left"><img src="http://todo.m3.cmp/img/page-logo.png" alt=""></div>
                            <p class="message_list_title">白程 </p>
                            <p class='cmp-ellipsis'>品质管理主管</p>
                        </li> -->
                    </ul>
                    <p class="more">
                        <i18n key="todo.m3.h5.seeMore"></i18n>
                        <i18n key="todo.m3.h5.contact"></i18n>
                    </p>
                    <!--代办开始-->
                    <p class="link-todo display_none">
                        <i18n key="todo.m3.h5.todo"></i18n>
                    </p>
                    <ul class="cmp-table-view margin_top10 search-people todo">
                    </ul>
                    <p class="more display_none">
                        <i18n key="todo.m3.h5.seeMore"></i18n>
                    </p>
                    <!--代办结束-->
                    <!--第三方代办开始-->
                    <p class="link-third display_none">
                        <i18n key="todo.m3.h5.thirdTodo"></i18n>
                    </p>
                    <ul class="cmp-table-view margin_top10 search-people third">
                    </ul>
                    <p class="more display_none">
                        <i18n key="todo.m3.h5.seeMore"></i18n>
                    </p>
                    <!--第三方代办结束-->
                </div>
                <div class="none display_none">
                    <span class="iconfont see-icon-m3-search-null"></span>
                    <p>
                        <i18n key="todo.m3.h5.noSearch"></i18n>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        var defaultImg = 'http://commons.m3.cmp/imgs/default.png';
    </script>
    <script src="http://todo.m3.cmp/v/i18n/todo_zh_CN.js"></script>
    <script src="http://commons.m3.cmp/v/i18n/commons_zh_CN.js"></script>
    <script src="http://cmp/v/js/cmp-i18n.js"></script>
    <script>
        cmp.i18n.init("http://todo.m3.cmp/v/i18n/", "todo");
        cmp.i18n.load("http://commons.m3.cmp/v/i18n/", "commons");
    </script>
    <script src="http://cmp/v/js/cordova/__CMPSHELL_PLATFORM__/cordova.js"></script>
<script src="http://cmp/v/js/cordova/cordova-plugins.js"></script>
    <script src="http://cmp/v/js/cmp.js"></script>
    <script src="http://cmp/v/js/cmp-app.js"></script>
    <script src="http://cmp/v/js/cmp-server.js"></script>
    <script src="http://cmp/v/js/cmp-chat.js"></script>
    <script src="http://cmp/v/js/cmp-search.js"></script>
    <script src="http://cmp/v/js/cmp-iat.js"></script>
    <script src="http://cmp/v/js/cmp-gestureLock.js"></script>
    <script src="http://cmp/v/js/cmp-sliders.js"></script>


    <!--<script src="http://commons.m3.cmp/js/zepto-1.2.0.js"></script>-->
    <!--<script src="http://commons.m3.cmp/js/m3.js"></script>-->
    <!--<script src="http://commons.m3.cmp/js/m3i18n.js"></script>-->
    <!--<script src="http://commons.m3.cmp/js/m3Route.s3js"></script>-->
    <!--<script src="http://commons.m3.cmp/js/m3Ajax.js"></script>-->
    <!--<script src="http://commons.m3.cmp/js/m3DB.js"></script>-->
    <!--<script src="http://todo.m3.cmp/js/app_todo_search.js"></script>-->

    <script src="http://commons.m3.cmp/v/js/m3-path.s3js"></script>
    <!-- seajs -->
    <script src="http://commons.m3.cmp/v/lib/seajs-2.2.1.js"></script>
    <script src="http://commons.m3.cmp/v/config.js"></script>
    <!-- 模块入口 -->
    <script>seajs.use('http://todo.m3.cmp/v/js/app_todo_search.js')</script>
</body>
