/*************
 * 列表
 ************/
.cmp-lists {
  line-height: 1;
}
.cmp-list {
  padding-left: 14px;
  background: #fff;
  font-size: 16px;
  color: inherit;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cmp-list .cmp-icon-forward {
  font-size: 20px;
  color: #c7c7cc;
  margin-right: -5px;
}
.cmp-list .see-icon-v5-common-qrcode {
  font-size: 16px;
  color: #333;
}
.cmp-list .c1 {
  color: #333;
}
.cmp-list .c2 {
  color: #666;
}
.cmp-list .c3 {
  color: #999;
}
.cmp-list .bg1 {
  background: #74d856;
}
.cmp-list .bg2 {
  background: #b865d4;
}
.cmp-list .bg3 {
  background: #3eb0ff;
}
.cmp-list .bg4 {
  background: #ffd142;
}
.cmp-list .bg5 {
  background: #27e0b8;
}
.cmp-list .imgDiv {
  height: 26px;
  width: 26px;
  border-radius: 4px;
  position: relative;
  margin-right: 12px;
  font-size: 14px;
  color: #fff;
  line-height: 26px;
  text-align: center;
}
.cmp-list .imgDiv .img {
  height: 14px;
  width: 14px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.cmp-list .imgDiv .img2 {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.cmp-list .content {
  padding-right: 14px;
  height: 50px;
  position: relative;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cmp-list .content:after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #D4D4D4;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.cmp-list:last-child .content:after {
  height: 0px;
}
.cmp-list.line2 {
  padding-left: 0px;
}
.cmp-list.line2 .content {
  padding-left: 14px;
}
.cmp-list .left {
  -webkit-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cmp-list .right .cmp-checkbox2 {
  margin-right: 7px;
  padding: 5px 0px 5px 5px;
}
.cmp-list-lineUl {
  width: 100%;
  height: 50px;
  padding: 0px 14px;
  background: #fff;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cmp-list-lineUl li {
  list-style-type: none;
  white-space: nowrap;
  color: #333333;
  font-size: 14px;
  text-align: center;
  -webkit-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  flex: 1;
}
.cmp-list-lineUl li:first-of-type {
  text-align: left;
}
.cmp-list-lineUl li:last-child {
  text-align: right;
}
.cmp-list-lineUl li input {
  position: relative;
  top: 2px;
  margin-left: 2px;
}
.cmp-list-contact {
  background: #fff;
  font-size: 16px;
  color: inherit;
  padding-left: 14px;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cmp-list-contact .imgDiv {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  margin-right: 12px;
  font-size: 14px;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.cmp-list-contact .imgDiv .img {
  height: 14px;
  width: 14px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.cmp-list-contact .imgDiv .img2 {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
.cmp-list-contact .content {
  padding-right: 14px;
  height: 65px;
  position: relative;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cmp-list-contact .content:after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #D4D4D4;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.cmp-list-contact:last-child .content:after {
  height: 0px;
}
.cmp-list-contact .name {
  color: #000;
  font-size: 19px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cmp-list-contact .job {
  color: #999;
  font-size: 14px;
  margin-top: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cmp-list-contact .left {
  -webkit-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  flex: 1;
}
.cmp-list-contact .bg1 {
  background: #f7b55e;
}
.cmp-list-contact .bg2 {
  background: #f2725e;
}
.cmp-list-file {
  padding-left: 14px;
  background: #fff;
  font-size: 16px;
  color: inherit;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cmp-list-file .cmp-icon-forward {
  font-size: 20px;
  color: #c7c7cc;
  margin-right: -5px;
}
.cmp-list-file .cmp-icon-document {
  margin-right: 12px;
}
.cmp-list-file .see-icon-close-round-fill {
  color: #B7B8B9;
  font-size: 20px;
  margin-right: -5px;
  padding: 10px 0px 10px 10px;
}
.cmp-list-file .cmp-checkbox2 {
  font-size: 30px;
  margin: 0px 0px 0px -5px;
  padding: 5px 10px 5px 0px;
}
.cmp-list-file .content {
  padding-right: 14px;
  height: 62px;
  position: relative;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  right: 0;
}
.cmp-list-file .content:after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #D4D4D4;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.cmp-list-file:last-child .content:after {
  height: 0px;
}
.cmp-list-file .left {
  -webkit-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  flex: 1;
}
.cmp-list-file .title {
  color: #333;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cmp-list-file .detail {
  color: #666;
  font-size: 12px;
  margin-top: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cmp-list-file .roundProgress {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #2EAEF7;
  box-sizing: content-box;
  position: relative;
  margin-right: -5px;
}
.cmp-list-file .roundProgress .rLeft,
.cmp-list-file .roundProgress .rRight {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.cmp-list-file .roundProgress .rLeft {
  clip: rect(0px, 12px, auto, 0px);
}
.cmp-list-file .roundProgress .rRight {
  clip: rect(0px, 24px, auto, 12px);
}
.cmp-list-file .roundProgress .rLeftP,
.cmp-list-file .roundProgress .rRightP {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 2px solid #2EAEF7;
}
.cmp-list-file .roundProgress .rLeftP {
  clip: rect(0px, 24px, auto, 12px);
}
.cmp-list-file .roundProgress .rRightP {
  clip: rect(0px, 12px, auto, 0px);
}
.cmp-list-file .roundProgress .rect {
  width: 8px;
  height: 8px;
  background: #2EAEF7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.cmp-list-file .size {
  color: #666;
  font-size: 14px;
}
.cmp-list-file .num {
  color: #666;
  font-size: 16px;
}
.cmp-list-download {
  height: 40px;
  background: #eee;
  line-height: 1;
  margin-bottom: 4px;
  padding: 0px 10px 0px 4px;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cmp-list-download .cmp-icon-document {
  margin-right: 10px;
  height: 32px;
  width: 32px;
}
.cmp-list-download .see-icon-download {
  color: #95A6B7;
  font-size: 20px;
}
.cmp-list-download .left {
  -webkit-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  flex: 1;
}
.cmp-list-download .title {
  color: #333;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cmp-list-download .detail {
  color: #666;
  font-size: 12px;
  margin-top: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cmp-list-download-title {
  background: #fff;
  font-size: 16px;
  color: #333;
  height: 40px;
  padding: 0px 14px;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cmp-list-download-title .see-icon-accessory {
  color: #2EAEF7;
  font-size: 14px;
  margin-right: 4px;
}
.cmp-list-download-title .see-icon-v5-common-pull-down {
  color: #B6B6B6;
}
.cmp-list-download-title .left {
  -webkit-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cmp-list-download-content {
  padding: 1px 14px 10px;
  background: #fff;
}
.cmp-list-download-content2 {
  line-height: 1;
  padding: 10px 14px 24px 54px;
  background: #fff;
}
.cmp-list-download-content2 .p1 {
  font-size: 14px;
  color: #666;
  margin: 0px;
  position: relative;
}
.cmp-list-download-content2 .p1:before {
  position: absolute;
  top: 0px;
  left: -10px;
  width: 3px;
  height: 14px;
  background: #7ED321;
  border-radius: 4px;
  content: "";
}
.cmp-list-download-content2 .p2 {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin: 5px 0px;
}
.cmp-list-download-content2 .time {
  font-size: 14px;
  color: #999;
  line-height: 1.5;
  margin: 5px 0px 0px;
}
.cmp-list-download-content3 {
  line-height: 1;
  padding: 4px 14px 1px 54px;
  background: #fff;
}
/*# sourceMappingURL=cmp-list.css.map */