html,body{height: 100%;width: 100%;background-color: #fff;overflow: hidden;font-family: 'Microsoft Yahei','Helvetica Neue', Helvetica, sans-serif;}
a:hover{text-decoration:none !important;}
.cmp-bar {background: #fff;}
.cmp-bar:after {width: 100%;position: absolute;bottom: 0;left: 0;height: 1px;content: '';-webkit-transform: scale(1,0.5);transform: scale(1,0.5);background-color: #c8c7cc;}
.cmp-bar .cmp-btn-link {color:#3AADFB;}
.see-icon-v5-common-arrow-back:before {font-size:18px;}
.cmp-segmented_title_content {position: absolute; width: 100%; top: 0;}
.cmp-v5-search-content .cmp-content-title-search {height:46px;background: #fff;padding: 8px 0.25rem;border: none;}
.cmp-v5-search-content .cmp-content-title-search input {border: none;background:rgba(3,3,3,0.07);}
.cmp-search .cmp-placeholder {height: 30px !important;line-height:30px !important;}
.cmp-content {background: #fff;}
.cmp-table-view:before {height: 0;}
.cmp-table-view:after {left: 1.7rem;}
.cmp-table-view-cell:after {left: 1.7rem;}
.cmp-table-view-cell {padding: 0; height: 1.65rem;line-height: 1.6rem; font-size: 16px;}
.cmp-slider-handle.cmp-table {width: 100%;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-align: center;}
.cmp-table-view .cmp-media-body {-webkit-box-flex:1;text-overflow: ellipsis;white-space: nowrap;margin-right:10px;}
.uc-group-head {width: 1.17rem;height: 1.17rem;display: -webkit-box;-webkit-box-align: center;margin: 0 0.266rem;border-radius: 50%;overflow: hidden;}
.cmp-table-view .cmp-media-object {display: block;-webkit-box-pack: center;line-height: 1.17rem;height: 1.17rem;max-width: 1.17rem;width: 1.17rem;}
.cmp-table-view-cell:last-child:before, .cmp-table-view-cell:last-child:after{height:1px;}
.cmp-table-view:after{height:0;}
#create-group{padding-right:10px;}