<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://cmp/v/css/cmp.css">
</head>
<body>

</body>
<script src="http://cmp/v/js/cordova/__CMPSHELL_PLATFORM__/cordova.js"></script>
<script src="http://cmp/v/js/cordova/cordova-plugins.js"></script>
<script src="http://cmp/v/js/cmp.js"></script>
<script src="http://cmp/v/js/cmp-app.js"></script>
<script src="http://cmp/v/js/cmp-speechRobot.js"></script>
<script src="http://commons.m3.cmp/v/js/m3-path.s3js"></script>
<!-- seajs -->
<script src="http://commons.m3.cmp/v/lib/seajs-2.2.1.js"></script>
<script src="http://commons.m3.cmp/v/config.js"></script>
<!-- 模块入口 -->
<script>seajs.use('http://application.m3.cmp/v/js/xiaozhi-transit-page.js')</script>

</html>
