
.cmp-h5 {
    font-size: 16px;
    color: #666666;
}
#list_content li{
    position: relative;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 0;
    padding: 13px 10px!important;
}
#list_content .cmp-list-cell-info{
    float: left;
    padding-left: .27rem;
}
#list_content .cmp-list-navigate{
    width: .26rem;
    text-align: right;
    float: left;
    margin-left: .26rem;
}
.file-index-content .cmp-list-cell-info{
    width: 7.6rem !important;
}
@media screen and (max-width: 360px) {
    #list_content .cmp-list-navigate{
        width: 6%;
        text-align: right;
    }
    .file-index-content .cmp-list-cell-info{
        width: 78% !important;
    }
}

#list_content .cmp-list-navigate a{
    margin-right: 0;
    color: #c7c7c7;
    margin-top: 10px;
    margin-left: -.18rem;
}
.cmp-crumbs-content{
    width: 100%;
    height: 50px;
}
.cmp-crumbs-content:before{
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 200%;
    height: 1px;
    bottom: 0;
    background: #c8c7cc;
    -webkit-transform:scale(0.5);
}
#breadTop{
    margin: 0 15px;
    line-height: 16px;
    bottom: 12px;
}
#breadTop .right-icon{
    margin-left: 5px;
    margin-right: 5px;
}
#breadcrumb .right-icon{
     margin-left: 7px;
     margin-right: 7px;
 }
#breadTop .local{
    color: #3aadfb;
    font-size: 16px;
}
#breadTop .bread-target{
    margin-left: 7px;
    font-size: 16px;
    color: #c7c7c7;
}
#breadTop a.no-text{
     /*margin-left: 10px;*/
     font-size: 16px;
     color: #999999;
 }
#breadTop a.on-text{
    /*margin-left: 10px;*/
    font-size: 16px;
    color: #3aadfb;
}
.cmp-segmented_title_content{
    background-color: #efefe4;
}

#list_content li.file_indie .list_title_name a{
    font-size: 16px;
    color: #333;
}
#list_content li.file_indie .list_cont_info{
    font-size: 14px;
    line-height: 24px;
    color: #999;
}
#list_content li.file_indie .cmp-list-navigate .text_info{
    font-size: 14px;
    margin-top: 8px;
}
#list_content li.file_indie .cmp-list-navigate .text_info_null{
    font-size: 14px;
    margin-top: 24px;
}
#list_content li.file_indie .cmp-list-navigate{
    line-height: 14px;
}
#allPending{
    background-color: white;
}
#boxscrolll{
    background-color: #fff;
}
.cmp-table-view-cell:after{
    height: 0;
}
.list_count{
    width: 20%;
    text-align: right;
}
.cmp-v5-search-content .cmp-content-title-search{
    border-bottom: none!important;
    padding: 5px 12px;
}
.noAttar{
    margin-top: 22px!important;
}
input[disabled]{
    background-color: white!important;
    opacity: 1;
}

/**/
#add{
    padding-top: 13px;
}
#addDivFilter{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: inherit;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    opacity: .8;
}
#addDiv{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 51;
}
#addDiv .add-upload{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 75%;
}
#addDiv .add-upload .add-upload-pic,#addDiv .add-upload .add-upload-doc,#addDiv .add-upload .add-upload-folder{
    float: left;width: 33%;
}
#addDiv .add-upload .add-upload-pic .add-upload-pic-back{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #929def;
    margin: 0 auto;
    text-align: center;
}
#addDiv .add-upload .add-upload-pic .add-upload-pic-back span{
    margin-top: 22px;
    font-size: 38px;
    color: #ffffff;
}
#addDiv .add-upload .add-upload-doc .add-upload-doc-back{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #6dc666;
    margin: 0 auto;
    text-align: center;
}
#addDiv .add-upload .add-upload-doc .add-upload-doc-back span{
    margin-top: 22px;
    font-size: 38px;
    color: #ffffff;
}
#addDiv .add-upload .add-upload-folder .add-upload-folder-back{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #4fb2fc;
    margin: 0 auto;
    text-align: center;
}
#addDiv .add-upload .add-upload-folder .add-upload-folder-back span{
    margin-top: 22px;
    font-size: 38px;
    color: #ffffff;
}
#addDiv .add-upload .add-upload-pic .add-upload-pic-type{
    text-align: center;
    margin-top: 10px;
    line-height: 14px;
}
#addDiv .add-upload .add-upload-pic .add-upload-pic-type span{
    font-size: 14px;
    color: #333333;
}
#addDiv .add-upload .add-upload-doc .add-upload-doc-type{
    text-align: center;
    margin-top: 10px;
    line-height: 14px;
}
#addDiv .add-upload .add-upload-doc .add-upload-doc-type span{
    font-size: 14px;
    color: #333333;
}
#addDiv .add-upload .add-upload-folder .add-upload-folder-type{
    text-align: center;
    margin-top: 10px;
    line-height: 14px;
}
#addDiv .add-upload .add-upload-folder .add-upload-folder-type span{
    font-size: 14px;
    color: #333333;
}
#addDiv .add-remain{
    text-align: center;
    margin-top: 60px;
    line-height: 14px;
}
#addDiv .add-remain span{
    font-size: 14px;
    color: #999;
}
#addDiv .add-close{
    text-align: center;
    margin-top: 54px;
}
#addDiv .add-close span{
    color: #3aadfb;
    font-size: 30px;
}
/**/
.cmp-list-cell .cmp-list-cell-img{
    float: left;
}
.cmp-list-cell .cmp-list-cell-img .noFolder{
    width: 36px!important;
    height: 40px!important;
    margin-left: .13rem;
}
.cmp-list-cell .cmp-list-cell-img .folder{
    width: 40px!important;
    height: 36px!important;
}
@media screen and (max-width: 320px) {
    .cmp-list-cell .cmp-list-cell-img .noFolder{
        width: 30px!important;
        height: 34px!important;
        margin-left: 5px;
    }
    .cmp-list-cell .cmp-list-cell-img .folder{
        width: 34px!important;
        height: 30px!important;
    }
}
.file-index-content .cmp-list-cell-info .text_info{
    width: auto;
}
.file-index-content .cmp-list-cell-info .doc-list-username span,
.file-index-content .cmp-list-cell-info .doc-list-time span,
.file-index-content .cmp-list-cell-info .doc-list-size span{
    font-size: 12px;
    color: #666;
}
#list_content li:before{
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 200%;
    height: 1px;
    bottom: 0;
    background: #c8c7cc;
    -webkit-transform:scale(0.5);
}
.file-index-content .file_indie .cmp-list-navigate{
    width: 5%!important;
}
.file-index-content .file_indie .cmp-list-cell-info{
    width: 78%!important;
}
#doc_common_header.cmp-bar a.cmp-icon{
    padding-top: 14px;
}
.cmp-list-content{border-top: none;}
.cmp-list-cell .cmp-list-cell-img .cmp-icon-document{
    width: 42px;height: 42px;font-size: 42px;
}
